@{
    ViewData["Title"] = "JD AU";
}

<div id="react-app">Loading...</div>
@*Sashi*@
@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <img src="~/dist/img/logo-large-au.png" asp-append-version="true">
    <img src="@Url.Content("~/dist/img/logo-large-au.png")" asp-append-version="true">
}
