@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact Page";
}
<h2>Contact</h2>
<form>
    <label>Name</label>
    <input />
    <label>Email</label>
    <input type="email"/>
    <label>mess</label>
    <textarea cols="40" rows="4"></textarea>
    <div><input type="submit" value="Send message"/></div>
</form>
